.nav{
  display: flex;
}
.box {
  position: absolute;
  
  width: 100px;
  height: 100px;
  background-color: blue;
}
.wrapper {
  position: relative;
  width: 1200px;
  height: 600px;
  border: 3px solid red;
}

.btn{
  margin: 10px;  
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
}

.parametrs{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.parametrs button{
  width: 30px;
  height: 30px;
}

.parametrs input{
  width: 30px;
  height: 25px;
}

.name{
  margin: 0;
  font-size: 20px;
  align-items: center;
  padding-left: 30px;
}